{% extends "minerals/layout.html" %}

{% block content %}
  <style>
    .practice:after {
      content: '';
      display:  table;
      clear: both;
    }
    .column {
      float: left;
      width: 33.33%;
      margin: auto;
    }
    .column.side {
      width: 25%;
    }
    .column.middle {
      width: 50%;
    }
    .mineral_anch{
      text-align: center;
    }

  </style>
  {% for mineral in minerals %}
      <div class="grid-100 column">
        <ul class="minerals__container">
            <li><a  href="{% url 'detail' pk=mineral.pk %}"> {{ mineral }} </a></li>
       </ul>
     </div>
       {% endfor %}
{% endblock %}
