{% extends "minerals/layout.html" %}

{% block content %}
  <style>
    .practice:after {
      content: '';
      display:  table;
      clear: both;
    }
    .column {
      float: left;
      width: 33.33%;
      margin: auto;
    }
    .column.side {
      width: 25%;
    }
    .column.middle {
      width: 50%;
    }
    .mineral_anch{
      text-align: center;
    }

  </style>
  <div class="bounds">
    <div class="grid-100">
      <a href="index.html">
        <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
          <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
          <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
          <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
        </svg>
    </div>
  </div>
  <header>
    <div>
          <h1 class="logo__name text-centered">Minerals are cool</h1>
        </a>
        <p class="logo__text text-centered">Explore cool</p>
      </div>
  </header>
  {% for mineral in minerals %}
      <div class="grid-100 column">
        <ul class="minerals__container">
            <li><a  href="{% url 'detail' pk=mineral.pk %}"> {{ mineral }} </a></li>
       </ul>
     </div>
       {% endfor %}
{% endblock %}
